<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panquecas da familia</title>
    <link rel="shortcut icon" href="../assets/logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/anddress.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="stylesheet" href="../styles/photo.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    <link rel="stylesheet" href="../styles/main.css">
    
    
</head>

<body>
    
    <nav>

        <div class="logo">
            <img src="../assets/logo.png" alt="">
        </div>

        <ul class="nav-links"> 
            <li><a href="#">Home</a></li>
            <li><a href="#about-img">Sobre</a></li>
            <li><a href="#menu">Cardápio</a></li>
            <li><a href="#anddress">Endereço</a></li>
            <li><a href="register.html">Cadastrar</a></li>            
        </ul>
        
        <div class="burguer">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>
    
    <main>

        <div class="about-img" id="about-img">
            <img src="../assets/pancake.png" alt="">
        </div>

        <p>
            Inaugurada em 2020, a Panquecas da Família vem trilhando um longo caminho em busca de qualidade no atendimento, para garantir satisfação dos clientes.
            Tudo começou com uma união em família , que teve lá seus revezes, mas prosseguimos fortes , com dedicação , fé e coragem, passando de uma grande vontade familiar à uma ideia.
            De lá para cá , devido ao bom trabalho desenvolvido , nossa clientela tem aumentado numa proporção muito grande! Hoje estamos felizes pelo que conquistamos e seguimos acreditando que ainda temos muito a oferecer aos nosso clientes e amigos.
        </p>

    </main>

    <main class="photos">

        <div>
            <img src="../assets/pancake01.jpeg" alt="">
            <img src="../assets/pancake02.jpeg" alt="">
            <img src="../assets/pancake03.jpeg" alt="">
        </div>

    </main>

    <main class="menu" id="menu">

        <div>
            <img src="../assets/cardSalgado.jpeg" alt="">
            <img src="../assets/cardDoce.jpeg" alt="">
        </div>

    </main>

    <footer class="anddress"  id="anddress">

        <div>
            <img src="../assets/gps.png" alt="">
            <h1>
                Localização  
            </h1>
            <p>
                Vicentina | São Leopoldo
            </p>
        </div>

    </footer>

    <script src="../js/index.js"></script>

</body>
</html>