<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panquecas da familia</title>
    <link rel="shortcut icon" href="../assets/logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="stylesheet" href="../styles/anddress.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="stylesheet" href="../styles/photo.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/responsive.css">
    <link rel="stylesheet" href="../styles/main.css">
    
    
</head>
<body>

    <nav>

        <div class="logo">
            <img src="../assets/logo.png" alt="">
        </div>

        <ul class="nav-links"> 
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Sobre</a></li>
            <li><a href="index.html">Cardápio</a></li>
            <li><a href="#anddress">Endereço</a></li>
            <li><a href="#register">Cadastrar</a></li>            
        </ul>
        
        <div class="burguer">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

    </nav>

    <div class="cadastro" id="resgister">

        <form action="">

            <h1>Cadastrar</h1>

            <div class="textBox">
                <label for="">Nome</label>
                <input type="text" placeholder="Nome" name="" id="" required="required">
            </div>

            <div class="textBox">
                <label for="">Rua</label>
                <input type="text" placeholder="Rua" name="" id="" required="required">
            </div>

            <div class="textBox">
                <label for="">Bairro</label>
                <input type="text" placeholder="Bairro" name="" id="" required="required">
            </div>

            <div class="textBox">
                <label for="">Nº</label>
                <input type="text" placeholder="Número da casa" name="" id="" required="required">
            </div>

            <button type="button" class="" placeholder="" onclick="">Cadastrar</button>

        </form>

    </div>

    <footer class="anddress"  id="anddress">

        <div>
            <img src="../assets/gps.png" alt="">
            <h1>
                Localização  
            </h1>
            <p>
                Vicentina | São Leopoldo
            </p>
        </div>
        
    </footer>

    <script src="../js/index.js"></script>

</body>
</html>