.cadastro{
  width: 380px;
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(15%, 5%);
}

.cadastro h1{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #b48736;
}

.cadastro button{
  margin-top: 5%;
}

.textBox, input, input:focus, select:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  overflow: hidden;
  width: 80%;
  border-bottom: 1px solid #b48736;
  color: #b48736;
}

.textBox label{
  color: #b48736;
  display: block;
  margin-bottom: 0;
  margin-top: 10px;
}

button, button:focus, button::selection {
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #b48736;
  color: #b48736;
}

button:hover, button:active{
  color: white;
  background-color: #b48736;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 1vh;
  background-color: #b48736;
  font-family: 'Poppins', sans-serif;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
}